:root {
  --header-border-width: 7px;
}

.header {
  background: linear-gradient(
    90deg,
    rgb(176, 255, 102) 0%,
    rgb(118, 216, 255) 100%
  );
  min-height: calc(var(--header-height) - var(--header-border-width));
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: var(--header-border-width) solid var(--clr-gray-500);
}

.header__title {
  font-size: 1.5rem;
}

.header__logo-container {
  display: flex;
  align-items: flex-end;
  column-gap: 0.5rem;
  color: var(--clr-gray-500);
}

.header__algo-icon {
  font-size: 4.75rem !important;
  margin-bottom: -6px;
}

.header__actions {
  display: none;
  position: fixed;
  background: linear-gradient(
    120deg,
    rgb(151, 226, 255) 0%,
    rgb(192, 255, 110) 100%
  );
  box-shadow: 0 0 20px black;
  border-left: 5px solid var(--clr-gray-500);
  border-bottom: 5px solid var(--clr-gray-500);
  border-radius: 0 0 0 10px;
  flex-direction: column;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem;
  z-index: 3;
}

.header__menu-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__menu-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--clr-gray-400);
}

.header__actions--visible {
  display: flex;
}

.header__algo-selection {
  width: 100%;
}

.header__start-button {
  width: 100%;
}

@media only screen and (min-width: 950px) {
  .header__start-button {
    width: auto;
  }

  .header__algo-selection {
    width: 175px;
  }

  .header__menu-button {
    display: none !important;
  }

  .header__actions {
    box-shadow: none;
    border: none;
    height: inherit;
    display: flex;
    position: inherit;
    flex-direction: row;
    gap: 1.5rem;
    background: none;
    align-items: center;
  }

  .header__menu-heading {
    display: none;
  }
}
