@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

html {
  --clr-primary: rgb(0, 205, 219);
  --clr-gray-500: #4e4e4e;
  --clr-gray-400: #252525;

  --clr-block: rgb(0, 152, 240);
  --clr-selected: rgb(255, 115, 0);

  --header-height: 8rem;
}

body {
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
